
1. How to import pandas and check the version?

2. How to create a series from a list, numpy array and dict?

3. How to convert the index of a series into a column of a dataframe?

4. How to combine many series to form a dataframe?

5. How to assign name to the series’ index?

6. How to get the items of series A not present in series B?

7. How to get the items not common to both series A and series B?

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

9. How to get frequency counts of unique items of a series?

10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

11. How to bin a numeric series to 10 groups of equal size?

12. How to convert a numpy array to a dataframe of given shape?

13. How to find the positions of numbers that are multiples of 3 from a series?

14. How to extract items at given positions from a series?

15. How to stack two series vertically and horizontally ?

16. How to get the positions of items of series A in another series B?

17. How to compute the mean squared error on a truth and predicted series?

18. How to convert the first character of each element in a series to uppercase?

19. How to calculate the number of characters in each word in a series?

20. How to compute difference of differences between consequtive numbers of a series?

21. How to convert a series of date-strings to a timeseries?

22. How to get the day of month, week number, day of year and day of week from a series of date strings?

23. How to convert year-month string to dates corresponding to the 4th day of the month?

24. How to filter words that contain atleast 2 vowels from a series?

25. How to filter valid emails from a series?

26. How to get the mean of a series grouped by another series?

27. How to compute the euclidean distance between two series?

28. How to find all the local maxima (or peaks) in a numeric series?

29. How to replace missing spaces in a string with the least frequent character?

30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

32. How to compute the autocorrelations of a numeric series?

33. How to import only every nth row from a csv file to create a dataframe?

34. How to change column values when importing csv to a dataframe?

In [ ]:
import numpy as np

In [ ]:
# 1) 
import pandas as pd
print(pd.__version__)

# Print all pandas dependencies
#print(pd.show_versions(as_json=True))

In [ ]:
# 2)  input
a_list = list("abcdefg")
numpy_array = np.arange(1, 10)
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}

In [ ]:
# 3)  input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
print(ser[:5])

In [ ]:
# 4)  input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [ ]:
# 5)  input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [ ]:
# 6)  input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [ ]:
# 7)  input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [ ]:
# 8)  input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

In [ ]:
# 9)  input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [ ]:
# 10) input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

In [ ]:
# 11) input
ser = pd.Series(np.random.random(20))
ser

In [ ]:
# 12) input
ser = pd.Series(np.random.randint(1, 10, 35))
ser

In [ ]:
# 13) input

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, 10))
ser

In [ ]:
# 14) input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [ ]:
# 15) input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [ ]:
# 16) input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [ ]:
# 17) input -- Can use numpy or sklearn 
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [ ]:
# 18) input
ser = pd.Series(['just', 'a', 'random', 'list'])
ser

In [ ]:
# 19) input
ser = pd.Series(['just', 'a', 'random', 'list'])

In [ ]:
# 20) input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Desired Output
# [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
# [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [ ]:
# 21) input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])


'''
Desired Output

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
'''

In [ ]:
# 22) input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

'''
Desired output

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
'''

In [ ]:
# 23) input
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

'''
Desired Output

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

'''

In [ ]:
# 24) input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

'''
Desired Output


0     Apple
1    Orange
4     Money
dtype: object
'''

In [ ]:
# 25) input
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

'''
Desired Output

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object
'''

In [ ]:
# 26) doesn't incluide the upper limit
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
fruit
weights = pd.Series(np.linspace(1, 10, 10))
weights
#print(weights.tolist())
#print(fruit.tolist())

'''
Desired output

# values can change due to randomness
apple     6.0
banana    4.0
carrot    5.8
dtype: float64
'''

In [ ]:
# 27) input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

'''
Desired Output

18.165
'''

In [ ]:
# 28) input
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

'''
Desired output

array([1, 5, 7])
'''

In [ ]:
# 29) input
my_str = 'dbc deb abed ggade'

'''
Desired Output

'dbccdebcabedcggade'  # least frequent is 'c'
'''

In [ ]:
# 30) 
'''
Desired Output
values can be random

2000-01-01    4
2000-01-08    1
2000-01-15    8
2000-01-22    4
2000-01-29    4
2000-02-05    2
2000-02-12    4
2000-02-19    9
2000-02-26    6
2000-03-04    6
'''

In [ ]:
# 31) input
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

'''
Desired Output

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
'''

In [ ]:
# 32) input
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

'''
Desired Output

# values will change due to randomness
[0.29999999999999999, -0.11, -0.17000000000000001, 0.46000000000000002, 0.28000000000000003, -0.040000000000000001, -0.37, 0.41999999999999998, 0.47999999999999998, 0.17999999999999999]
Lag having highest correlation:  9
'''

In [ ]:
# 33) input

In [ ]:
# 34) input

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html
https://pandas.pydata.org/pandas-docs/stable/reference/series.html
https://www.geeksforgeeks.org/python-pandas-series-where/ + recommended articles after the code